---
layout: page
title: "About"
description: "Hey, this is TJ."
header-img: "img/post-bg-rwd.jpg"
---

<!-- Language Selector -->
<!-- <select class="sel-lang" onchange= "onLanChange(this.options[this.options.selectedIndex].value)">
    <option value="0" selected> 中文 Chinese </option>
    <option value="1"> 英文 English </option>
</select> -->

<!-- Chinese Version -->
<div class="zh post-container">

    <!--copied from markdown -->
    <blockquote><p>一个人的世界里，镜子代表反思，而唾手可得的大量资料就是百科全书<br>
    如果真如此，一个人在资料中从相反的方面里发现一个人，那么，这个人未必是先前没有的，我是指，这个人未必是凭空出现的人</p></blockquote>

    <p>Hey，我是<strong>汤键(BY)</strong>，一位Java后端开发工程师</p>

    <p>CSDN主页<a href="https://blog.csdn.net/weixin_59624686">👉BY</a></p>

    <p>知乎主页<a href="https://www.zhihu.com/people/apachetj">👉BY</a></p>
    
    <h5>Talks</h5>

    <ul>
        <li><a href="https://github.com">GitHub</a></li>
        <li><a href="https://analytics.google.com/analytics">Google Analytics</a></li>
    </ul>
</div>

<!-- English Version -->
<!-- <div class="en post-container">
    <blockquote><p>一个人的世界里，镜子代表反思，而唾手可得的大量资料就是百科全书<br>
    如果真如此，一个人在资料中从相反的方面里发现一个人，那么，这个人未必是先前没有的，我是指，这个人未必是凭空出现的人</p></blockquote>

    <p>Hi, I am <strong>Jian Tang</strong>，I am an Java Backend Development Engineer</p>

    <p>CSDN-Home<a href="https://blog.csdn.net/weixin_59624686">👉BY</a></p>

    <p>知乎-Home<a href="https://www.zhihu.com/people/apachetj">👉BY</a></p>

    <h5>Talks</h5>

    <ul>
    <li><a href="https://github.com">GitHub</a></li>
    </ul>
</div> -->

<!-- Handle Language Change -->
<script type="text/javascript">
    // get nodes
    var $zh = document.querySelector(".zh");
    var $en = document.querySelector(".en");
    var $select = document.querySelector("select");

    // bind hashchange event
    window.addEventListener('hashchange', _render);

    // handle render
    function _render(){
        var _hash = window.location.hash;
        // en
        if(_hash == "#en"){
            $select.selectedIndex = 1;
            $en.style.display = "block";
            $zh.style.display = "none";
        // zh by default
        }else{
            // not trigger onChange, otherwise cause a loop call.
            $select.selectedIndex = 0;
            $zh.style.display = "block";
            $en.style.display = "none";
        }
    }

    // handle select change
    function onLanChange(index){
        if(index == 0){
            window.location.hash = "#zh"
        }else{
            window.location.hash = "#en"
        }
    }

    // init
    _render();
</script>


<!-- Gitalk 评论 start  -->
{% if site.gitalk.enable %}
<!-- Gitalk link  -->
<link rel="stylesheet" href="https://unpkg.com/gitalk/dist/gitalk.css">
<script src="https://unpkg.com/gitalk@latest/dist/gitalk.min.js"></script>

<div id="gitalk-container"></div>
    <script type="text/javascript">
    var gitalk = new Gitalk({
    clientID: '{{site.gitalk.clientID}}',
    clientSecret: '{{site.gitalk.clientSecret}}',
    repo: '{{site.gitalk.repo}}',
    owner: '{{site.gitalk.owner}}',
    admin: ['{{site.gitalk.admin}}'],
    distractionFreeMode: {{site.gitalk.distractionFreeMode}},
    id: 'about',
    });
    gitalk.render('gitalk-container');
</script>
{% endif %}
<!-- Gitalk end -->

 <!-- disqus 评论框 start  -->
{% if site.disqus.enable %}

<div class="comment">
    <div id="disqus_thread" class="disqus-thread">
    </div>
</div>
<!-- disqus 评论框 end -->

<!-- disqus 公共JS代码 start (一个网页只需插入一次) -->
<script type="text/javascript">
    /* * * CONFIGURATION VARIABLES * * */
    var disqus_shortname = "{{site.disqus.username}}";
    var disqus_identifier = "{{site.disqus.username}}/{{page.url}}";
    var disqus_url = "{{site.url}}{{page.url}}";

    (function() {
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
</script>
<!-- disqus 公共JS代码 end -->
{% endif %}

